[user]
  name = Adam Vandenberg
  email = flangy@gmail.com

[color]
  ui = auto

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  pick = cherry-pick -s
  b = checkout -b

[push]
  default = current

[github]
  user = adamv
